html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que la hauteur couvre tout l'écran */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Disposition verticale */
}

/* Wrapper pour le contenu principal */
body {
    flex: 1; /* Permet au contenu de prendre tout l'espace vertical disponible */
}
/* Style de base pour la barre de navigation */
.nav {
    display: flex;
    justify-content: space-around;
    background-color: #2c3e50; /* Couleur de fond sombre */
    padding: 10px 20px;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    list-style: none;
    margin: 0;
    align-items: center;
}

/* Style pour les éléments de navigation */
.nav-item {
    margin: 0;
}

/* Style pour les liens */
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    color: #ecf0f1; /* Couleur claire */
    transition: all 0.3s ease-in-out;
}

/* Style pour le lien actif */
.nav-link.active {
    background-color: #3498db; /* Couleur bleue */
    color: black;
}

/* Style pour les liens au survol */
.nav-link:hover:not(.disabled) {
    background-color: #3498db; /* Couleur bleue plus foncée */
    color: white;
}

/* Style du footer */
.footer {
    background-color: #34495e; /* Fond sombre */
    color: #ecf0f1; /* Texte clair */
    text-align: center;
    padding: 15px;
    margin-top: auto; /* Cela permet de pousser le footer en bas */
    border-top: 2px solid #2c3e50; /* Bordure élégante */
    font-size: 0.9rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Ombre en haut */
}
.footer p {
    margin: 0; /* Supprime les marges inutiles */
}
