html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

.page-title {
    text-align: center;
    background-color: #ecf0f1;
    color: #3498db;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #3e5d7a;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    margin: 0 30px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ecf0f1;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link.active {
    background-color: #3498db;
    color: #3e5d7a;
    transform: scale(1.1);
}

.nav-link:hover {
    background-color: #2980b9;
    color: white;
    transform: scale(1.05);
}

.nav-link[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.nav-link[data-tooltip]:hover::after {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
    padding-bottom: 50px;
}

.box {
    background-color: white;
    color: #34495e;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 16px black;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.02);
}

.box h2 {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.box p, .box ul {
    font-size: 1rem;
    line-height: 1.6;
}

.box ul {
    margin-top: 10px;
}

.image-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.image-box {
    text-align: center;
    background-color: #f7f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease;
}

.image-box2 {
    text-align: center;
    background-color: #f7f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.image-box:hover {
    transform: scale(1.05);
}

.image-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    margin-top: auto;
    border-top: 2px solid #2980b9;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        margin: 40px;
    }

    .nav-link {
        margin-top: 10px;
    }

    .image-section {
        flex-direction: column;
        align-items: center;
    }

    .image-box {
        width: 60%;
        margin-bottom: 20px;
    }

    .container {
        margin: 20px 10px;
    }

    .nav-link[data-tooltip]:hover::after {
        display: none;
    }
}

.question-answer {
    background-color: #f7f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-answer h3 {
    color: #3498db;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.question-answer h4 {
    font-size: 1rem;
    font-weight: bold;
}

.question-answer p {
    font-size: 1rem;
    line-height: 1.5;
}

.description {
    margin-top: 30px;
}
